.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.1em 10em;
    background-color: var(--negro);
}

a{text-decoration: none;}

.logoContainer{
    height: 40px;
    display: flex;
    align-items: center;
}

.header img {
    align-self: start;
}

